[Unit]
Description=Collect Temperature Data
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/fridge
ExecStart=/usr/bin/env python3 -O main.py
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
