[Unit]
Description=Collect Temperature Data
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/fridge
ExecStart=/usr/bin/env python3 main.py
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
